section {
  padding: 10rem;
}

.row {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.col-right {
  margin-left: 10rem;
}

.head {
  font-size: 2rem;
  font-weight: bold;
}

textarea {
  font-size: 2rem;
  border: none;
}

input {
  margin-top: 4rem;
  height: 10 rem;
  height: 4rem;
  border: none;
  font-size: 2rem;
  width: 30rem;
}

button {
  margin-top: 4rem;
  font-size: 2rem;
  background-color: #2889ec;
  color: whitesmoke;
  padding: 1.5rem;
  width: 16rem;
}
